
h1 {
	text-align: center;
}

#frame {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: solid black 2px;
}

@media only screen and (min-width: 576px) {
   /*For desktop:*/
  #frame {
    width: 90%;
    max-width: 500px;
    /*max-width: 500px;*/
    margin-top: 50px;
  }

  #logout {
    font-size: 2em;
  }
}

img {
	width: 30%;
}

